{% extends 'base_logged_in.html' %}
{% load string_interpolation %}
{% load static %}
{% block content %}

<!-- PLACEHOLDER -->
<div class="container positions">
  <a href="{% url 'position' applicant.parent_position.reference_number applicant.parent_position.id %}" class="btn-flat blue-text sort-positions">
    ←  {{ applicantText.back_to_position }}: {{ applicant.parent_position.position_title }}
  </a>
  <input type="hidden" class="hidden" id="position-id" name="position-id" value='{{ position.id }}'>
  <input type="hidden" class="hidden" id="applicant-id" value='{{ applicant.id }}'>
  <h6 class="btn-flat disabled"></h6>
  <div class="row">
    <!--Beginning of application card -->
    <div class="col s12 card white">
      <div class="card-content col s12 applicant-card">
        <!-- Application row 1 headers -->
        <!-- Upload Applications and Delete buttons -->
        <div class="row applicant-top-row">
          <h6 class="valign-wrapper col">
            <div class="col favourite-icon favourite-icon-applicant tooltip" id="{{ applicant.applicant_id }}" data-favourite-status="{{ favourite }}"><i class="applicant-detail-star applicant-icon material-icons small grey-text">star_border</i>
              <span class="tooltiptext">Favourite/unfavourite this applicant</span> </div>
            {{ applicant.applicant_id }}
            <div class="col tooltip {% if applicant.percentage_correct <= 33 %}
                        applicant-summary-card list card-panel red
                        {% elif applicant.percentage_correct > 33 and applicant.percentage_correct <= 66 %}
                        applicant-summary-card list card-panel orange
                        {% elif applicant.percentage_correct > 66 and applicant.percentage_correct <= 100 %}
                        applicant-summary-card list card-panel green
                        {% endif %}
                        white-text applicant-question-total-detail">{{ applicant.number_yes_responses }}/{{ applicant.number_questions }} ({{ applicant.percentage_correct }}%)
              <div class="tooltiptext">This applicant answered yes to {{ applicant.number_yes_responses }} out of {{ applicant.number_questions }} questions ({{ applicant.percentage_correct }}%)</div>
            </div>
            <div class="tooltip pdf-icon col">
              <a href="{% url 'sbr' applicant.applicant_id %}">
                <i class="material-icons red-text">picture_as_pdf</i>
                <span class="tooltiptext screening-pdf">{{ toolTips.screening_evaluation_sheet }}</span>
              </a>
            </div>
          </h6>
        </div>
        <div id="applicant-header" class="row applicant-header hoverable header-row">
          <div class="col applicant-icon">
            <i class="collapse-arrows material-icons grey-text text-lighten-1 small">person</i>
          </div>
          <div class="truncation col s3 applicant-citizenship">
            <span class="">{{ applicant.citizenship }}</span>
          </div>
          <div class="col s5 truncation">
            <span class="applicant-classification">
              <input type="hidden" id="substantive-classification-text" value=" {{ applicantText.substantive }} Classification"/>
              <input type="hidden" id="current-classification-text" value=" {{ applicantText.current }} Classification"/>
              {% for classification in classifications %}
              {% if classification.classification_substantive is not None %}
              <span class="classification-substantive card-panel applicant-summary-card list screendoor-color white-text">
                {{ classification.classification_substantive }}
              </span>
              {% endif %}
              {% if classification.classification_current is not None %}
              <span class="classification-current applicant-summary-card list card-panel screendoor-color lighten-2 white-text">
                {{ classification.classification_current }}
              </span>
              {% endif %}
              {% endfor %}
            </span>
          </div>
          <div id="stream-div" class="col s3">
            <span class="applicant-streams">
              {% for stream in streams reversed %}
              {% if stream is not None %}
              <div class="tooltip">
                <span class="stream applicant-summary-card-small list card-panel blue lighten-{{ forloop.revcounter }} darken-{{ forloop.counter }} white-text" data-stream-description="{{ stream.stream_description }}">{{ applicantText.stream }} {{ forloop.counter }}</span>
                <span class="tooltiptext">{{ stream.stream_description }}</span>
              </div>
              {% endif %}
              {% endfor %}
            </span>
          </div>
          <div class="col">
            <i id="expand-collapse-applicant" class="material-icons grey-text text-lighten-1">expand_more</i>
          </div>
        </div>

        <div class="hidden-applicant-info row row-closed">
          <div class="hidden-applicant-row row body-row">
            <div class="specialization col s3 cell-body">
              {{ applicantText.priority }} <br>{{ applicant.priority }}
            </div>
            <div class="program-length col s3 cell-body">
              {{ applicantText.veteran_preference }} <br>{{ applicant.veteran_preference }}
            </div>
            <div class="years-completed col s3 cell-body">
              {{ applicantText.french_working_ability }}: <br>{{ applicant.french_working_ability }}
            </div>
            <div class="graduation-date col s2 cell-body">
              {{ applicantText.english_working_ability }}: <br>{{ applicant.english_working_ability }}
            </div>
          </div>

          <div class="hidden-applicant-row row body-row">
            <div class="specialization col s3 cell-body">
              {{ applicantText.first_official_language }}: <br>{{ applicant.first_official_language }}
            </div>
            <div class="program-length col s3 cell-body">
              {{ applicantText.written_exam_language }}: <br>{{ applicant.written_exam }}
            </div>
            <div class="years-completed col s3 cell-body">
              {{ applicantText.correspondence_language }}: <br>{{ applicant.correspondence }}
            </div>
            <div class="graduation-date col s2 cell-body">
              {{ applicantText.interview_language }}: <br>{{ applicant.interview }}
            </div>
          </div>
        </div>
        <!-- Beginning of Education Section -->
        {% if educations is not None %}
        <div class="row header-row">
          <div class="col s11">
            <h6>
              {{ applicantText.education }} <i id="expand-collapse-education" class="material-icons grey-text text-darken-2">unfold_more</i>
            </h6>
          </div>
        </div>

        <!-- Education Headers -->
        <ul class="education-list">
          {% for education in educations %}
          <li class="education-item hoverable">
            <div class="row">
              <div class="row education-header">
                <div class="col cell-header">
                  <i class="education-icon collapse-arrows material-icons grey-text text-lighten-{{ forloop.counterreverse }} text-darken-{{ forloop.counter }} small">school</i>
                </div>
                <!-- Displays academic level full width if no institution and area of study (i.e., for secondary school) -->
                <div id="education-academic-truncated{{ forloop.counter0 }}"
                     class="cell-header truncation col {% if education.institution is None and education.area_of_study is None %}
                         s4
                         {% else %}
                         s4
                         {% endif %}">{{ education.academic_level }}
                </div>
                <div id="education-institution-truncated{{ forloop.counter0 }}" class="col s4 cell-header truncation">
                  {% if education.institution is not None %}
                  {{ education.institution }}
                  {% else %}
                  <span style="visibility: hidden;">.</span>
                  {% endif %}
                </div>
                <div id="education-areastudy-truncated{{ forloop.counter0 }}" class="col s3 cell-header truncation">
                  {% if education.area_of_study is not None %}
                  {{ education.area_of_study }}
                  {% else %}
                  <span style="visibility: hidden;">.</span>
                  {% endif %}
                </div>
                <div class="col">
                  <i class="{% if education.institution is None and education.area_of_study is None %}expand-collapse-pushed {% endif %}expand-collapse-education-item material-icons grey-text text-lighten-1">expand_more</i>
                </div>
              </div>
            </div>
            <div class="hidden-education-info row body-row row-closed">
              <div class="specialization col s4 cell-body table-subhead">
                {{ applicantText.specialization }}: <br>{% if education.specialization is not None %}{{ education.specialization }} years{% else %}{{ applicantText.na }}{% endif %}

              </div>
              <div class="program-length col s2 cell-body table-subhead">
                {{ applicantText.program_length }}: <br>{% if education.program_length is not None %}{{ education.program_length }} years{% else %}{{ applicantText.na }}{% endif %}
              </div>
              <div class="years-completed col s2 cell-body table-subhead">
                {{ applicantText.years_completed }}: <br>{% if education.num_years_completed is not None %}{{ education.num_years_completed }}{% else %}{{ applicantText.na }}{% endif %}
              </div>
              <div class="graduation-date col s2 cell-body table-subhead">
                {{ applicantText.graduation_date }}: <br>{% if education.graduation_date is not None %}{{ education.graduation_date }}{% else %}{{ applicantText.na }}{% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        <!-- END OF EDUCATION DATA -->
        {% endif %}
        <div class="row">
          <div class="col s11 cell-header">
            <h6>
              <br>
              {{ applicantText.questions }} <i id="expand-collapse-questions" class="material-icons grey-text text-darken-2">unfold_more</i>
            </h6>
          </div>
        </div>

        <!-- QUESTION HEADERS -->
        <ul class="question-list">
          {% for answer in answers %}
          <li class="question-preview">
            <!-- QUESTION PREVIEW -->
            <div class="question-preview-div hoverable row collapse question-row {% if answer.applicant_answer is True %}yes-answer {% else %}no-answer{% endif %}">
              <div class="row header-row question-row">
                <div class="col cell-header question-icon-div">
                  <i class="question-icons material-icons {% if answer.applicant_answer is True %}{% if forloop.counter|divisibleby:'2' %}green-text {% else %} green-text text-darken-1 {% endif %}{% else %}{% if forloop.counter|divisibleby:'2' %} red-text {% else %} red-text text-darken-1 {% endif %}{% endif %}">{% if answer.applicant_answer is False %}close{% elif answer.applicant_answer is True and answer.applicant_complementary_response is None %}check{% else %}question_answer{% endif %}</i>
                </div>
                {% if answer.parent_question.parent_requirement is not None %}
                <div class="col requirement-abbreviation applicant-summary-card-small list card-panel screendoor-color">
                  {{ answer.parent_question.parent_requirement.abbreviation }}
                </div>
                <input type="hidden" class="question-data-text" value=": {{ answer.short_question_text }} "/>
                <input type="hidden" class="requirement-text" value=": {{ answer.parent_question.parent_requirement.description }} "/>
                {% endif %}
                <div class="col {% if answer.qualifier_set.all is not None %}
                            s9 {% elif answer.parent_question.parent_requirement is not None %} s9 {% else %} s10 {% endif %} cell-header question-row short-question-text truncation">{{ forloop.counter }}. {{ answer.parent_question.short_question_text }}
                </div>

                <div class="col right">
                  <i class="expand-collapse-questions material-icons grey-text text-lighten-1">expand_more</i>
                </div>

                <div class="col right">
                  {% for qualifier in answer.qualifier_set.all %}
                  <div class="tooltip">
                    <i class="material-icons {% if qualifier.status == 'FAIL' %}red-text{% elif qualifier.status == 'PASS' %}green-text{% else %}grey-text{% endif %}">{% if qualifier.status == 'FAIL' %}close{% elif qualifier.status == 'PASS' %}check_circle{% else %}help_outline{% endif %}</i>
                    <span class="tooltiptext">{% if qualifier.status == 'FAIL' %}Failed{% elif qualifier.status == 'PASS' %}Passed{% else %}Indeterminate{% endif %}: {{ qualifier.qualifier_text }}</span>
                  </div>
                  {% endfor %}
                </div>


                <div class="extract-previews col s11">
                  {% for extract in answer.extract_set|dictsort:"extract_sentence_index" %}
                  {% if extract.extract_type == 'WHEN' %}
                  <i class="material-icons red-text text-lighten-1">date_range</i>
                  {% elif extract.extract_type == 'HOW' %}
                  <i class=" material-icons brown-text text-lighten-1">work</i>
                  {% endif %}
                  <span class="extract-preview grey-text text-darken-1">
                    {{ extract.extract_text|capfirst|linebreaksbr }}
                    <br>
                    {% if extract.next_extract_index != extract.extract_sentence_index and not forloop.last %}
                    {% endif %}
                  </span>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="question-answer-full row-closed row {% if answer.applicant_answer is True %}yes-answer-light {% else %}no-answer-light{% endif %}">
              <div class="row question-row question-buttons notes-row">
                <div class="col add-note tooltip">
                  <i class="material-icons orange-text">note_add</i>
                  <span class="tooltiptext">{{ toolTips.add_note_tooltip }}</span>
                </div>
                <div class="col s10 notes-area">
                  <div class="note-box">
                    <textarea class="note-input" id="note-input-{{ forloop.counter0 }}" data-parent-answer = "{{ answer.id }}" placeholder="Enter your note here" required></textarea>
                    <span class="save-cancel-note">
                      <i class="material-icons green-text save-note" data-answer-num="{{ forloop.counter0 }}">add_box</i>
                      <i class="material-icons red-text cancel-note">cancel</i>
                    </span>
                  </div>

                  <div class="notes" id= "notes-{{ forloop.counter0 }}">
                    {% for note in answer.note_set.all|dictsort:"created" reversed %}
                    <div class="note" id="{{ note.id }}" data-parent-answer= "{{ answer.id }}">
                      <span class="note-text">{{ note.note_text }}</span>
                      <br>
                      <span class="note-author grey-text">{{ note.author }}, </span><span class="note-created grey-text">{{ note.created }}</span>
                      <i class="material-icons red-text delete-note" data-note-id="{{ note.id }}" data-answer-num="{{ forloop.parentloop.counter0 }}">delete_forever</i>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="row question-row question-response-extracts">
                <div class="col s7">
                  <span class="complementary-response-header">{% if answer.applicant_complementary_response is not None %}{{ applicantText.complementary_response }}{% endif %}</span>
                  {% if answer.applicant_complementary_response is not None %}
                  <div class="tooltip">
                    <i class="material-icons blue-text tooltip-icon">help</i>
                    <span class="long-tooltiptext">{{ toolTips.complementary_response_tooltip }}</span>
                  </div>
                  {% endif %}
                  <div class="applicant-response-full"><span class="answer-complementary-response">{% if answer.applicant_complementary_response is not None %}{{ answer.applicant_complementary_response }}{% endif %}</span>
                  </div>
                </div>
                <div class="col s4">
                  <span class="extract-full-header">{% if answer.applicant_complementary_response is not None %}{{ applicantText.extracts }}{% endif %}</span>
                  {% if answer.applicant_complementary_response is not None %}<div class="tooltip">
                    <i class="material-icons blue-text tooltip-icon">help</i>
                    <span class="long-tooltiptext">{{ toolTips.extracts_tooltip }} </span>
                  </div>
                  {% endif %}
                  <div class="extracts-full">
                    <input type="hidden" class="answer-complementary-response-value" value="{{ answer.applicant_complementary_response }}" />
                    <input type="hidden"  class="answer-id" value="{{ answer.id }}" />
                      {% for extract in answer.extract_set|dictsort:"extract_sentence_index" %}

                      <!-- Data classes for sentence highlighting -->
                      <input type="hidden"  class="extract-string-index" value="{{ extract.extract_sentence_index }}"/>
                      <input type="hidden" class="extract-ending-index" value="{{ extract.extract_ending_index }}"/>
                      <input type="hidden" class="extract-next-index" value="{{ extract.next_extract_index }}"/>
                      <input type="hidden" class="extract-string" value="{{ extract.extract_text }}"/>
                      <input type="hidden" class="extract-id" value="{{ extract.id }}"/>
                      <input type="hidden" class="extract-parent-answer-id" value="{{ extract.parent_answer.id }}"/>
                      <input type="hidden" class="extract-parent-answer" value="{{ extract.parent_answer.applicant_complementary_response }}"/>
                      <!-- Extracts full -->
                      <div class="extract-full">
                        {% if extract.extract_type == 'WHEN' %}
                        <i class="material-icons red-text text-lighten-1">date_range</i>
                        {% elif extract.extract_type == 'HOW' %}
                        <i class="material-icons brown-text text-lighten-1">work</i>
                        {% endif %}
                        <span class="grey-text text-darken-1">
                          <span class="extract-text">{{ extract.extract_text|capfirst|linebreaksbr }}</span>
                          <br>
                        </span>
                      </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Misc. helper functions -->
<script src="{% static 'js/helper-functions.js' %}"></script>
<!-- Script for local storage -->
<script src="{% static 'js/localstorage.js' %}"></script>
<!-- Script for extract origin highlighting -->
<script src="{% static 'js/sentence-highlighting.js' %}"></script>
<!-- Script for initializing modal pop-ups -->
<script src="{% static 'js/sd-modal.js' %}"></script>
<script src="{% static 'js/applicant-questions.js' %}"></script>
<script src="{% static 'js/favourites.js' %}"></script>
<!-- Script for adding notes to positions -->
<script src="{% static 'js/notes.js' %}"></script>
{% endblock %}
