{% extends 'base_logged_in.html' %}
{% load string_interpolation %}
{% load static %}
{% block content %}

<!-- PLACEHOLDER -->
<div class="container positions">
  <a href="{% url 'position' applicant.parent_position.reference_number applicant.parent_position.id %}" class="btn-flat blue-text sort-positions">←  {{ applicantText.back_to_position }}: {{ applicant.parent_position.position_title }}</a>
  <input type="hidden" class="hidden" name="position-id" value='{{ position.id }}'>
  <h6 class="btn-flat disabled"></h6>
  <form method="post" id="save-position" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="row">
      <!--Beginning of application card -->
      <div class="col card white hoverable">
        <div class="card-content col s12 applicant-card">
          <!-- Application row 1 headers -->
          <table class="highlight">
            <thead>
              <tr>
                <th colspan="19"><h6>{{ applicantText.applicant_information }}</h6></th>
                <!-- Upload Applications and Delete buttons -->
                <th colspan="3"><input type="button" class="btn-flat right" id="expand-all" value="Expand all"></th>
                <th colspan="1"></th>
                <th colspan="3"><input type="button" class="btn-flat right" id="collapse-all" value="Collapse all"></th>
              </tr>
            </thead>
            <thead class="collapse">
              <tr>
                <th colspan="2"><i class="collapse-arrows material-icons grey-text text-darken-2">keyboard_arrow_down</i></th>
                <th colspan="8">{{ applicantText.applicant_id }}</th>
                <th colspan="7">{{ applicantText.citizenship }}</th>
                <th colspan="9">{{ applicantText.classifications }}</th>
              </tr>
            </thead>
            <!-- Application row 1 body -->
            <tbody>
              <tr>
                <th colspan="2"></th>
                <td colspan="8">{{ applicant.applicant_id }}</td>
                <td colspan="7">{{ applicant.citizenship }}</td>
                <td colspan="9">{% for classification in classifications %}{{ applicantText.substantive }}: {{ classification.classification_substantive }}<br>{{ applicantText.current }}: {{ classification.classification_current }}{% endfor %}</td>
              </tr>
            </tbody>
            <!-- Application row 2 head -->
            <thead class="collapse">
              <tr>
                <th colspan="2"><i class="collapse-arrows material-icons grey-text text-darken-2">keyboard_arrow_down</i></th>
                <th colspan="8">{{ applicantText.priority }}</th>
                <th colspan="7">{{ applicantText.veteran_preference }}</th>
                <th colspan="9">{{ applicantText.streams }}</th>
              </tr>
            </thead>
            <!-- Application row 2 body -->
            <tbody>
              <tr>
                <th colspan="2"></th>
                <td colspan="8">{{ applicant.priority }}</td>
                <td colspan="7">{{ applicant.veteran_preference }}</td>
                <td colspan="9">{% for stream in streams reversed %}{{ stream.stream_name }}{% if forloop.counter < streams|length %} | {% endif %}{% endfor %}</td>
              </tr>
            </tbody>
            <!-- Application row 3 headers -->
            <thead class="collapse">
              <tr>
                <th colspan="2"><i class="collapse-arrows material-icons grey-text text-darken-2">keyboard_arrow_down</i></th>
                <th colspan="8">{{ applicantText.french_working_ability }}</th>
                <th colspan="7">{{ applicantText.english_working_ability }}</th>
                <th colspan="9">{{ applicantText.first_official_language }}</th>
              </tr>
            </thead>
            <!-- Application row 3 body -->
            <tbody>
              <tr>
                <th colspan="2"></th>
                <td colspan="8">{{ applicant.french_working_ability }}</td>
                <td colspan="7">{{ applicant.english_working_ability }}</td>
                <td colspan="9">{{ applicant.first_official_language }}</td>
              </tr>
            </tbody>
            <!-- Application row 4 headers -->
            <thead class="collapse">
              <tr>
                <th colspan="2"><i class="collapse-arrows material-icons grey-text text-darken-2">keyboard_arrow_down</i></th>
                <th colspan="8">{{ applicantText.written_exam_language }}</th>
                <th colspan="7">{{ applicantText.correspondence_language }}</th>
                <th colspan="9">{{ applicantText.interview_language }}</th>
              </tr>
            </thead>
            <!-- Application row 4 body -->
            <tbody>
              <tr>
                <th colspan="2"></th>
                <td colspan="8">{{ applicant.written_exam }}</td>
                <td colspan="7">{{ applicant.correspondence }}</td>
                <td colspan="9">{{ applicant.interview }}</td>
              </tr>
            </tbody>
            {% if educations is not None %}
            <thead>
              <tr>
                <th><h6 class="center">{{ applicantText.education }}</h6></th>
              </tr>
            </thead>
            <!-- Education Headers -->
            {% for education in educations %}
            <thead class="collapse blank-answer">
              <tr class="education-header">
                <th colspan="1"><i class="collapse-arrows material-icons grey-text text-darken-2">keyboard_arrow_down</i></th>
                <td colspan="1">{{ forloop.counter }}.</td>
                <th id="education-academic-truncated{{ forloop.counter0 }}" class="truncation" colspan="{% if education.institution is None and education.area_of_study is None %}23{% else %}8{% endif %}">{{ education.academic_level }}</th>
                {% if education.institution is not None %}<th id="education-institution-truncated{{ forloop.counter0 }}" class="truncation" colspan="7">{{ education.institution }}</th>{% endif %}
                {% if education.area_of_study is not None %}<th id="education-areastudy-truncated{{ forloop.counter0 }}" class="truncation"  colspan="8">{{ education.area_of_study }}</th>{% endif %}
                <th class="ellipsis education-ellipsis" colspan="1"><i class="material-icons">more_horiz</i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2"></td>
                <td colspan="8" class="table-subhead">{{ applicantText.academic_level }}</td>
                <td colspan="7" class="table-subhead">{{ applicantText.institution }}</td>
                <td colspan="9" class="table-subhead">{{ applicantText.area_of_study }}</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2"></td>
                <td colspan="8">{{ education.academic_level }}</td>
                <td colspan="7">{{ education.institution }}</td>
                <td colspan="9">{{ education.area_of_study }}</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2"></td>
                <td colspan="5" class="table-subhead">{{ applicantText.specialization }}</td>
                <td colspan="5" class="table-subhead">{{ applicantText.program_length }}</td>
                <td colspan="5" class="table-subhead">{{ applicantText.years_completed }}</td>
                <td colspan="9" class="table-subhead">{{ applicantText.graduation_date }}</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2"></td>
                <td colspan="5">{{ education.specialization }}</td>
                <td colspan="5">{{ education.program_length }}</td>
                <td colspan="5">{{ education.num_years_completed }}</td>
                <td colspan="9">{{ education.graduation_date }}</td>
              </tr>
            </tbody>
            {% endfor %}
            <!-- END OF EDUCATION DATA -->
            {% endif %}
            <thead>
              <tr>
                <th><h6 class="center">{{ applicantText.questions }}</h6></th>
              </tr>
            </thead>
            {% for answer in answers reversed %}
            <!-- Question -->
            <thead class="collapse question-header {% if answer.applicant_answer == True %}yes-answer{% else %}no-answer{% endif %}">
              <tr>
                <th colspan="1"><i class="collapse-arrows material-icons grey-text text-darken-2">keyboard_arrow_down</i></th>
                <td colspan="1">{{ forloop.counter }}.</td>
                <th id="truncated{{ forloop.counter0 }}" class="truncation" colspan="{% if answer.analysis is not None %}10{% else %}23{% endif %}"><div class="question-subhead hide">Question</div>{{ answer.parent_question.short_question_text }}</th>
                {% if answer.analysis is not None %}
                <th colspan="1"></th>
                <th id="truncated-analysis{{ forloop.counter0 }}" class="truncation" colspan="12"><div id="analysis-subhead{{ forloop.counter0 }}" class="analysis-subhead hide">Analysis</div><span class="blue-text text-darken-2">{{ answer.analysis|capfirst }}</span></th>
                {% endif %}
                <th colspan="1"><span class="ellipsis question-ellipsis"><i class="material-icons">more_horiz</i></span></th>
              </tr>
            </thead>
            <tbody class="{% if answer.applicant_answer == True %}yes-answer-light{% else %}no-answer-light{% endif %}">
              <tr>
                <td colspan="2" class="table-subhead"></td>
                <td colspan="9" class="table-subhead">{{ applicantText.question }}</td>
                <td colspan="1" class="table-subhead"></td>
                <td colspan="3" class="table-subhead">{{ applicantText.response }}</td>
                <td colspan="10" class="table-subhead">{% if answer.applicant_answer is True and answer.applicant_complementary_response is not None %}{{ applicantText.complementary_question }}{% endif %}</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            <tbody class="{% if answer.applicant_answer == True %}yes-answer-light{% else %}no-answer-light{% endif %}">
              <tr>
                <td colspan="2"></td>
                <td colspan="9">{{ answer.parent_question.question_text }}</td>
                <td colspan="1"></td>
                <td colspan="3">{% if answer.applicant_answer is True %}{{ applicantText.yes }}{% else %}{{ applicantText.no }}{% endif %}</td>
                <td colspan="10">{% if answer.applicant_answer is True and answer.applicant_complementary_response is not None %}{{ answer.parent_question.complementary_question_text }}{% else %}{% endif %}</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            {% if answer.applicant_answer is True and answer.applicant_complementary_response is not None %}
            <tbody class="{% if answer.applicant_answer == True %}yes-answer-light{% else %}no-answer-light{% endif %}">
              <tr>
                <td colspan="2"></td>
                <td colspan="9" class="table-subhead">{{ applicantText.complementary_response }}</td>
                <td colspan="1"></td>
                <td colspan="3" class="table-subhead">{{ applicantText.score }}</td>
                <td colspan="10" class="table-subhead">{{ applicantText.analysis }}</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            <tbody class="{% if answer.applicant_answer == True %}yes-answer-light{% else %}no-answer-light{% endif %}">
              <tr>
                <td colspan="2"></td>
                <td colspan="9">{{ answer.applicant_complementary_response }}</td>
                <td colspan="1"></td>
                <td colspan="3"></td>
                <td colspan="10">{{ answer.analysis|capfirst }}</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
            {% endif %}
            {% endfor %}
          </table>
          <!-- Date and time position was added -->
          <!-- <div class="row position-bottom-buttons">
               <h6 class="btn-flat right black-text">Application added: 2019-06-12</h6>
               </div> -->
        </div>
      </div>
    </div>
  </form>
  <!-- MaterializeCSS JS library  -->
  <script src="{% static 'js/materialize.js' %}"></script>
  <!-- Script for expanding and collapsing table rows -->
  <script src="{% static 'js/tables-applicant.js' %}"></script>
  {% endblock %}
