{% load static %}
<!-- MaterializeCSS stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
<!-- Additional stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- MaterializeCSS JS library -->
<script src="{% static 'js/materialize.js' %}"></script>
<body>
  <!-- Top navbar in purple displaying ScreenDoor logo -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left logged-out-logo">
        <img src="{% static 'img/ScreenDoor-White.png' %}">
      </a>
    </div>
  </nav>
  <!-- Page Layout here -->
  <div class="container">
    <div class="row">
      <div class="container valign-wrapper form-cards">
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
