{% load static %}
{% load string_interpolation %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body>
  <!-- Top navbar in purple displaying ScreenDoor logo -->
  <header id="base-header">
    <nav>
      <div class="nav-wrapper">
        <a id="toggle_sidenav" href="#"><i class="material-icons left menu-button">menu</i></a>
        <a href="/" class="brand-logo left"><img src="{% static 'img/ScreenDoor-White.png' %}"></a>
      </div>
    </nav>
  </header>
  <!-- End of top navbar -->
  <!-- Beginning of sidebar menu -->
  <ul id="slide-out" class="sidenav sidenav-fixed hide">
    <br>
    <li><a href="/"><i class="material-icons">account_circle</i>{{ baseVisibleText.welcome_user|interpolate:user.first_name }}</a></li>
    <br>
    <!-- Display View Positions menu item in blue if user is at that page -->
     {% if request.path == '/positions' %}
    <li><a href="{% url 'positions' %}" class="blue-text"><i class="material-icons blue-text">folder_open</i>{{ baseVisibleText.view_positions }}</a></li>
    {% else %}
    <li><a href="{% url 'positions' %}"><i class="material-icons">folder_open</i>{{ baseVisibleText.view_positions }}</a></li>
    {% endif %}
    <!-- Display create new position menu item in blue if user is at that page -->
    {% if request.path == '/createnewposition' %}
    <li><a href="{% url 'importposition' %}" class="blue-text"><i class="material-icons blue-text">create_new_folder</i>{{ baseVisibleText.new_position }}</a></li>
    {% else %}
    <li><a href="{% url 'importposition' %}"><i class="material-icons">create_new_folder</i>{{ baseVisibleText.new_position }}</a></li>
    {% endif %}
    <li><a href="/logout"><i class="material-icons">arrow_back</i>{{ baseVisibleText.logout }}</a></li>
  </ul>
  <!-- End of sidebar menu -->
  <!-- Beginning of page content -->
  <main id="base-main">
    <div class="row">
      {% block content %}
      {% endblock  %}
    </div>
  </main>
  <script>
   if ((JSON.parse(localStorage.getItem('sidenavOpen')))) {
     document.getElementById("base-main").style.paddingLeft = "300";
     document.getElementById("base-header").style.paddingLeft = "300";
   } else {
     document.getElementById("base-main").style.paddingLeft = "0";
     document.getElementById("base-header").style.paddingLeft = "0";
   }
  </script>
  <!-- End of page content -->
  <!-- MaterializeCSS JS library -->
  <script src="{% static 'js/materialize.js' %}"></script>
  <!-- Script for sidenav expand and collapse -->
  <script src="{% static 'js/sd-sidenav.js' %}"></script>
</body>
