{% extends 'base_logged_in.html' %}
{% load static %}
{% block content %}

{% for applicant in applicants %}
<br>
<br>
<br>
<br>
APPLICANT ID<br>
{{ applicant.applicant_id }}
<br>
CITIZENSHIP<br>
{{ applicant.citizenship }}
<br>
PRIORITY?<br>
{{ applicant.priority }}
<br>
VETERAN PREFERENCE?<br>
{{ applicant.veteran_preference }}
<br>
FRENCH WORKING ABILITY<br>
{{ applicant.french_working_ability }}
<br>
ENGLISH WORKING ABILITY
{{ applicant.english_working_ability }}
<br>
FIRST OFFICIAL LANGUAGE<br>
{{ applicant.first_official_language }}
<br>
WRITTEN EXAM LANGUAGE<br>
{{ applicant.written_exam }}
<br>
CORRESPONDENCE LANGUAGE<br>
{{ applicant.correspondence }}
<br>
INTERVIEW LANGUAGE<br>
{{ applicant.interview }}
<br>
QUESTIONS<br>
{% for question in applicant.questions.all %}
{{question}}<br><br><br>
{% endfor %}

{% endfor %}

{% endblock %}
Collapse




Message Input
