{% extends 'base_logged_in.html' %}
{% load static %}
{% block content %}
<!-- Beginning of position display -->
{% if position is not None %}
<div class="container positions">
  <form action="" method="POST" class="sort-positions">
    {% csrf_token %}
    <input type="submit" class="btn-flat blue-text" value="←  {{ positionText.back_to_positions }}">
    <h6 class="btn-flat disabled"></h6>
  </form>
  <div class="row">
    <!--Beginning of confirm position card -->
    <div class="col card white hoverable">
      <div class="card-content col s12">
        <div class="row valign-wrapper">
          <h4 class="col s12 left position-header grey-text text-darken-3">{{ position.position_title }}</h4>
        </div>
        <!-- Upload Applications and Delete buttons -->
        <div class="row left">
          <form action="" method="POST" class="position-view-buttons">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ position.id }}">
            <input type="submit" class="btn-flat blue-text" name="upload-applications" value="{{ userVisibleText.upload_applications }}">
            <a class="btn-flat blue-text modal-trigger" href="#delete-modal" onclick="handleDeletion({{ position.id }});">{{ userVisibleText.delete }}</a>
          </form>
        </div>
        <!-- Position row 1 headers -->
        <table class="highlight">
          <thead>
            <tr>
              <th colspan="1">{{ positionText.classification }}</th>
              <th colspan="2">{{ positionText.reference_number }}</th>
              <th colspan="2">{{ positionText.selection_process_number }}</th>
            </tr>
          </thead>
          <!-- Position row 1 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.classification }}</td>
              <td colspan="2">{{ position.reference_number }}</td>
              <td colspan="2">{{ position.selection_process_number }}</td>
            </tr>
          </tbody>
          <!-- Position row 2 headers -->
          <thead>
            <tr>
              <th colspan="1">{{ positionText.date_closed }}</th>
              <th colspan="1">{{ positionText.number_of_positions }}</th>
              <th colspan="1">{{ positionText.salary_range }}</th>
              <th colspan="2">{{ positionText.open_to }}</th>
            </tr>
          </thead>
          <!-- Position row 2 body -->
          <tbody">
            <tr>
              <td colspan="1">{{ position.date_closed|date:"M d, Y" }}</td>
              <td colspan="1">{{ position.num_positions }}</td>
              <td colspan="1">${{ position.salary_min }} - ${{ position.salary_max }}</td>
              <td colspan="2">{{ position.open_to }}</td>
            </tr>
          </tbody>
          <!-- Position row 3 header -->
          <thead>
            <tr>
              <th colspan="5">{{ positionText.position_information }}</th>
            </tr>
          </thead>
          <!-- Position row 3 body -->
          <tbody>
            <tr>
              <td colspan="5">{{ position.description }}</td>
            </tr>
          </tbody>
          <!-- Position education and experience rows -->
          <h5>{{ userVisibleText.education_and_experience_criteria }}</h5>
          {% for req in position.requirement_set.all %}
          <!-- ifchanged executes only for distinct values without repetition -->
          {% ifchanged %}
          <thead>
            <tr>
              <!-- Requirement type, e.g. education, experience, assets -->
              <th colspan="5">{{ req.requirement_type }}</th>
            </tr>
          </thead>
          {% endifchanged %}
          <tbody>
            <tr>
              <!-- Requirement abbreviation, e.g. EX1, and description -->
              <td colspan="5">{{ req.abbreviation }}: {{ req.description|linebreaksbr }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        <!-- Date and time position was added -->
        <div class="row position-buttons right">
          <h6 class="btn-flat black-text">Position added: {{ position.created }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Error message if position is invalid/cannot be displayed -->
{% else %}
<h5>{{ positionText.cannot_display_position }}</h5>
<!-- End of position display -->
{% endif %}
<!-- Modal delete position confirmation pop-up -->
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h5>{{ userVisibleText.confirm_delete_header }}</h5>
    <p>{{ userVisibleText.confirm_delete }}</p>
    <h6 id="delete-text"></h6>
  </div>
  <form action="" method="POST">
    <div class="modal-footer">
      {% csrf_token %}
      <input type="hidden" id="delete-confirm-id" name="id" value="">
      <input type="submit" id="delete-confirm-button" class="btn-flat blue-text position-button" name="delete" value="{{ userVisibleText.delete }}">
      <a href="#!" class="modal-close btn-flat blue-text position-button">Cancel</a>
    </div>
  </form>
</div>
<!-- MaterializeCSS JS library  -->
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/position-delete.js' %}"></script>
<!-- Script has to be inline to use Django variables -->
<script>
 /* For position detail view: Gets position ID to correctly display delete confirmation message, and to set position ID in the delete form */
 function handleDeletion(id) {
   let positionTitle = "{{ position.position_title }}"
   document.getElementById("delete-text").innerHTML = positionTitle;
   document.getElementById("delete-confirm-id").value = id;
 }
</script>
{% endblock %}
