{% extends 'base_logged_in.html' %}
{% load string_interpolation %}
{% load static %}
{% block content %}
<div class="container positions">
  <!-- Row for sorting options. If statements allow for highlighting currently selected sort -->
  {% if positions|length > 1 %}
  <form action="" method="POST" class="sort-positions">
    {% csrf_token %}
    <h6 class="btn-flat disabled">{{ userVisibleText.sort_by }}</h6>
    {% if "created" in sort %}
    <input type="submit" name="sort-created" class="btn-flat blue-text" value="{{ userVisibleText.date_uploaded }}">
    {% else %}
    <input type="submit" name="sort-created" class="btn-flat" value="{{ userVisibleText.date_uploaded }}">
    {% endif %}
    {% if "date_closed" in sort %}
    <input type="submit" name="sort-closed" class="btn-flat blue-text" value="{{ userVisibleText.date_closed }}">
    {% else %}
    <input type="submit" name="sort-closed" class="btn-flat" value="{{ userVisibleText.date_closed }}">
    {% endif %}
    {% if "position_title" in sort %}
    <input type="submit" name="sort-position" class="btn-flat blue-text" value="{{ userVisibleText.position }}">
    {% else %}
    <input type="submit" name="sort-position" class="btn-flat" value="{{ userVisibleText.position }}">
    {% endif %}
  </form>
  {% endif %}
  <!-- Beginning of Positions view -->
  <!-- Sorting is determined in view -->
  {% for position in positions %}
  <!-- Beginning of position display -->
  <div class="row">
    <!--Beginning of confirm position card -->
    <div class="col card white hoverable">
      <div class="card-content col s12">
        <div class="row valign-wrapper">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ position.id }}">
            <input type="submit" class="position-title" name="position" value="{{ position.position_title }}">
          </form>
        </div>
        <!-- Position row 1 headers -->
        <table class="highlight">
          <thead>
            <tr>
              <th colspan="1">{{ positionText.classification }}</th>
              <th colspan="2">{{ positionText.reference_number }}</th>
              <th colspan="2">{{ positionText.selection_process_number }}</th>
            </tr>
          </thead>
          <!-- Position row 1 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.classification }}</td>
              <td colspan="2">{{ position.reference_number }}</td>
              <td colspan="2">{{ position.selection_process_number }}</td>
            </tr>
          </tbody>
          <!-- Position row 2 headers -->
          <thead>
            <tr>
              <th colspan="1">{{ positionText.date_closed }}</th>
              <th colspan="1">{{ positionText.number_of_positions }}</th>
              <th colspan="1">{{ positionText.salary_range }}</th>
              <th colspan="2">{{ positionText.open_to }}</th>
            </tr>
          </thead>
          <!-- Position row 2 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.date_closed|date:"M d, Y" }}</td>
              <td colspan="1">{{ position.num_positions }}</td>
              <td colspan="1">${{ position.salary_min }} - ${{ position.salary_max }}</td>
              <td colspan="2">{{ position.open_to }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Position row 3 / buttons -->
        <div class="row position-buttons left">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ position.id }}">
            <input type="submit" class="btn-flat screendoor-color-text position-button" name="position" value="{{ userVisibleText.view }}">
            <input type="submit" class="btn-flat screendoor-color-text position-button" name="delete" value="{{ userVisibleText.delete }}">
          </form>
        </div>
        <div class="row position-buttons right">
          <h6 class="btn-flat black-text">Position added: {{ position.created }}</h6>
        </div>
      </div>
    </div>
    {% empty %}
    <h6>{{ userVisibleText.no_positions|interpolate:baseVisibleText.new_position }}</h6>
  </div>
  <!-- End of position display -->
  {% endfor %}
  <!-- End of Positions view -->
  <br>
</div>
{% endblock %}
