{% extends 'base_logged_in.html' %}
{% load static %}
{% block content %}
<!-- Beginning of position display -->
{% if position is not None %}
<div class="container positions">
  <form action="" method="POST" class="sort-positions">
    {% csrf_token %}
    <input type="submit" class="btn-flat blue-text" value="Back to Positions">
  </form>
  <div class="row">
    <!--Beginning of confirm position card -->
    <div class="col card white hoverable">
      <div class="card-content col s12">
        <div class="row valign-wrapper">
          <h4 class="col s12 left position-header">{{ position.position_title }}</h4>
        </div>
        <!-- Position row 1 headers -->
        <table class="highlight">
          <thead>
            <tr>
              <th colspan="1">{{ userVisibleText.classification }}</th>
              <th colspan="2">{{ userVisibleText.reference_number }}</th>
              <th colspan="2">{{ userVisibleText.selection_process_number }}</th>
            </tr>
          </thead>
          <!-- Position row 1 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.classification }}</td>
              <td colspan="2">{{ position.reference_number }}</td>
              <td colspan="2">{{ position.selection_process_number }}</td>
            </tr>
          </tbody>
          <!-- Position row 2 headers -->
          <thead>
            <tr>
              <th colspan="1">{{ userVisibleText.date_closed }}</th>
              <th colspan="1">{{ userVisibleText.number_of_positions }}</th>
              <th colspan="1">{{ userVisibleText.salary_range }}</th>
              <th colspan="2">{{ userVisibleText.open_to }}</th>
            </tr>
          </thead>
          <!-- Position row 2 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.date_closed|date:"M d, Y" }}</td>
              <td colspan="1">{{ position.num_positions }}</td>
              <td colspan="1">${{ position.salary_min }} - ${{ position.salary_max }}</td>
              <td colspan="2">{{ position.open_to }}</td>
            </tr>
          </tbody>
          <!-- Position row 3 header -->
          <thead>
            <tr>
              <th colspan="5">{{ positionText.position_information }}</th>
            </tr>
          </thead>
          <!-- Position row 3 body -->
          <tbody>
            <tr>
              <td colspan="5">{{ position.description }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Position education and experience rows -->
        <h5>{{ userVisibleText.education_and_experience_criteria }}</h5>
        <table class="highlight">
          {% for req in position.requirement_set.all %}
          {% ifchanged %}
          <thead>
            <tr>
              <th colspan="5">{{ req.requirement_type }}</th>
            </tr>
          </thead>
          {% endifchanged %}
          <tbody>
            <tr>
              <td colspan="5">{{ req.abbreviation }}: {{ req.description|linebreaksbr }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<br>
{% else %}
TEMPORARY: Error: position cannot be displayed
<!-- End of position display -->
{% endif %}
{% endblock %}
