{% extends 'base_logged_in.html' %}
{% load string_interpolation %}
{% load static %}
{% block content %}
<div class="container positions">
  <!-- Row for sorting options. Displays if positions are more than 1 -->
  {% if positions|length > 1 %}
  <form method="POST" id="position-sort-form" name="position-sort-form" class="sort-positions">
    {% csrf_token %}
    <!-- If statements determine if selected sort is in blue text -->
    <h6 class="btn-flat disabled sortby-button">{{ userVisibleText.sort_by }}</h6>
    <button type="submit" form="position-sort-form" name="sort-method"
            value="{% if '-created' in sort %}created{% elif 'created' in sort %}-created{% else %}-created{% endif %}"
            class="sort-button btn-flat {% if 'created' in sort %}blue-text{% endif %}">
      {% if '-created' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_up</i>
      {% elif 'created' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_down</i>
      {% endif %}{{ userVisibleText.date_uploaded }}</span>
    </button>
    <button type="submit" form="position-sort-form" name="sort-method"
            value="{% if '-date_closed' in sort %}date_closed{% elif 'date_closed' in sort %}-date_closed{% else %}-date_closed{% endif %}"
            class="sort-button btn-flat {% if 'closed' in sort %}blue-text{% endif %}">
      {% if '-date_closed' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_up</i>
      {% elif 'date_closed' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_down</i>
      {% endif %}
      {{ userVisibleText.date_closed }}</span>
    </button>
    <button type="submit" form="position-sort-form" name="sort-method"
            value="{% if '-position_title' in sort %}position_title{% elif 'position_title' in sort %}-position_title{% else %}position_title{% endif %}"
            class="sort-button btn-flat {% if 'position' in sort %}blue-text{% endif %}">
      {% if '-position_title' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_up</i>
      {% elif 'position_title' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_down</i>
      {% endif %}{{ userVisibleText.position }}</span>
    </button>
    <button type="submit" form="position-sort-form" name="sort-method"
            value="{% if '-number_applicants' in sort %}number_applicants{% elif 'number_applicants' in sort %}-number_applicants{% else %}-number_applicants{% endif %}"
            class="sort-button btn-flat {% if 'number_applicants' in sort %}blue-text{% endif %}">
      {% if '-number_applicants' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_up</i>
      {% elif 'number_applicants' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_down</i>
      {% endif %}{{ userVisibleText.no_applicants }}</span>
    </button>
    <button type="submit" form="position-sort-form" name="sort-method"
            value="{% if '-mean_score' in sort %}mean_score{% elif 'mean_score' in sort %}-mean_score{% else %}-mean_score{% endif %}"
            class="sort-button btn-flat {% if 'mean_score' in sort %}blue-text{% endif %}">
      {% if '-mean_score' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_up</i>
      {% elif 'mean_score' in sort %}
      <i class="sort-arrow material-icons">arrow_drop_down</i>
      {% endif %}
      {{ userVisibleText.avg_score }}</span>
    </button>
  </form>
  {% endif %}
  <!-- Beginning of Positions view -->
  <!-- Sorting is determined in views.py -->
  {% for position in positions %}
  <!-- Beginning of single position display -->
  <div class="row">
    <!--Beginning of confirm position card -->
    <div class="col card white hoverable">
      <div class="card-content col s12 positions-card">
        <div class="row valign-wrapper">
          <!-- Link to position detail using GET request -->
          <a class="position-list-title position-title grey-text text-darken-3" href="{% url 'position' position.reference_number position.id %}">{{ position.position_title }}</a>
          {% if position.applicants is not None %}
          <div class="col s6 right">
            <span class="applicant-summary-card card-panel white-text blue right {% if position.mean_score <= 33 %}
               red
               {% elif position.mean_score > 33 and position.mean_score <= 66 %}
               orange
               {% elif position.mean_score > 66 and position.mean_score <= 100 %}
               green
               {% endif %}">{{ userVisibleText.average_score }}: {{ position.mean_score }}</span>
            <span class="applicant-summary-card white-text blue card-panel right">{{ position.number_applicants }} {% if position.number_applicants > 1 %}{{ userVisibleText.applicants }}{% else %}{{ userVisibleText.applicant }}{% endif %}</span>
          </div>
          {% endif %}
        </div>
        <!-- Position row 1 headers -->
        <table class="highlight">
          <thead>
            <tr>
              <th colspan="1">{{ positionText.classification }}</th>
              <th colspan="2">{{ positionText.reference_number }}</th>
              <th colspan="2">{{ positionText.selection_process_number }}</th>
            </tr>
          </thead>
          <!-- Position row 1 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.classification }}</td>
              <td colspan="2">{{ position.reference_number }}</td>
              <td colspan="2">{{ position.selection_process_number }}</td>
            </tr>
          </tbody>
          <!-- Position row 2 headers -->
          <thead>
            <tr>
              <th colspan="1">{{ positionText.date_closed }}</th>
              <th colspan="1">{{ positionText.number_of_positions }}</th>
              <th colspan="1">{{ positionText.salary_range }}</th>
              <th colspan="2">{{ positionText.open_to }}</th>
            </tr>
          </thead>
          <!-- Position row 2 body -->
          <tbody>
            <tr>
              <td colspan="1">{{ position.date_closed|date:"M d, Y" }}</td>
              <td colspan="1">{{ position.num_positions }}</td>
              <td colspan="1">${{ position.salary_min }} - ${{ position.salary_max }}</td>
              <td colspan="2">{{ position.open_to }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Position row 3 / buttons (View, Delete, Upload Applications) -->
        <div class="row position-buttons left">
          <a class="btn-flat blue-text position-button" href="{% url 'position' position.reference_number position.id %}">{{ userVisibleText.view }}</a>
          <a class="btn-flat blue-text position-button modal-trigger delete-button" href="#delete-modal">{{ userVisibleText.delete }}</a>
          <a class="btn-flat blue-text position-button modal-trigger upload-applicants-button" href="#upload-applications-modal">{{ userVisibleText.upload_applications }}</a>
        </div>
        <!-- Date and time position was added -->
        <div class="row position-buttons right">
          <h6 class="btn-flat black-text">Position added: {{ position.created }}</h6>
        </div>
      </div>
    </div>
    <input type="hidden" class="position-id-list" value="{{ position.id }}">
    <input type="hidden" class="position-reference-list" value="{{ position.reference }}">
    <input type="hidden" class="position-applicant-text" value="{{ applicationsForm.description|interpolate:position.position_title }}">
    <input type="hidden" class="position-title-list" value="{{ position.position_title }}">
    <!-- Message displayed if user has no positions -->
    {% empty %}
    <h6>{{ userVisibleText.no_positions|interpolate:baseVisibleText.new_position }}</h6>
  </div>
  <!-- End of position display -->
  {% endfor %}
  <!-- End of Positions view -->
  <br>
</div>

<!-- Modal delete position confirmation pop-up -->
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h5>{{ userVisibleText.confirm_delete_header }}</h5>
    <p>{{ userVisibleText.confirm_delete }}</p>
    <h6 id="delete-text"></h6>
  </div>
  <!-- Delete confirmation button sends post request with position ID -->
  <form action="{% url 'delete' %}" method="POST">
    <div class="modal-footer">
      {% csrf_token %}
      <input type="hidden" id="delete-confirm-id" name="position-id" value="">
      <input type="submit" id="delete-confirm-button" class="btn-flat blue-text position-button" name="delete" value="{{ userVisibleText.delete }}">
      <a href="#!" class="modal-close btn-flat blue-text position-button">{{ userVisibleText.cancel }}</a>
    </div>
  </form>
</div>

<!-- Modal upload applications pop-up -->
<div id="upload-applications-modal" class="modal">
  <form id="upload-applications-form" action="{% url 'upload-applications' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-content">
      <h5>{{ applicationsForm.title }}</h5>
      <!-- p element contents defined by JavaScript based on the position for which user clicked "Upload Applications" -->
      <p id="upload-applications-text"></p>
      <!-- PDF/File input -->
      <div class="file-field input-field">
        <div class="btn-small">
          <span>{{ applicationsForm.browse }}</span>
          <!-- Input accepts multiple PDF file -->
          <input type="file" name="pdf" id="pdf" class="btn-small" value="{{ applicationsForm.browse }}" required multiple>
        </div>
        <div class="file-path-wrapper">
          <input id="pdf_path_input" class="file-path validate" type="text"
                 placeholder="{{ applicationsForm.choose_files }}" />
        </div>
      </div>
    </div>
    <!-- Upload and cancel buttons -->
    <div class="modal-footer">
      <input type="hidden" id="upload-applications-id" name="position-id" value="">
      <input type="submit" id="upload-applications-button" class="btn-flat blue-text position-button" name="upload-applications" value="{{ applicationsForm.upload }}">
      <a href="#!" class="modal-close btn-flat blue-text position-button">{{ userVisibleText.cancel }}</a>
    </div>
  </form>
</div>

<!-- MaterializeCSS JS library  -->
<script src="{% static 'js/materialize.js' %}"></script>
<!-- Initialize modal pop ups -->
<script src="{% static 'js/modal.js' %}"></script>
<!-- Misc helper functions -->
<script src="{% static 'js/helper-functions.js' %}"></script>
<!-- Script for positions list-specific functions -->
<script src="{% static 'js/positions-list-functions.js' %}"></script>
<!-- Script for local storage items (application filenames) -->
<script src="{% static 'js/localstorage.js' %}"></script>
{% endblock %}
