.application-button {
  background-color: transparent;
  border: 0px none;
}

.application-button:hover {
  cursor: pointer;
}

td {
  vertical-align: top;
  line-height: 1.6rem;
}

th {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.applicant-table tr {
  border-style: none;
}

header, main, footer {
  padding-left: 300px;}

.menu-button {
  margin-right: -5px !important;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.sortby-button {
  margin-top: 9px;
}

form {
  font-weight: normal !important;
}

input {
  font-weight: normal;
}
