.overlay {
  position: fixed; /* Sit on top of the page content */
  background-color: rgba(0,0,0,0.0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.toggle-content.is-visible {
	display: initial;
	height: auto;
}

.applicant-icon {
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 10px;
  margin-left: -5px;
}

.applicant-preview-icon {
}

.applicant-id {
  margin-top: -15px;
}

.applicant-collapse-buttons {
  margin-bottom: -25px;
  display: inline-block;
  position: static;
  float: right;
  margin-right: -15px;
}

.applicant-question-total {
  padding-left: 5px;
}

.truncation {
  width: 100%;
  text-overflow: ellipsis;

  /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

.table-subhead {
  font-weight: 500;
}

.question-subhead {
  font-weight: 500;
  margin-bottom: 10px;
}

.analysis-subhead {
  font-weight: 500;
  margin-bottom: 10px;
}

.ellipsis {
  font-weight: 400 !important;
  font-size: 1.2rem;
  margin-left: -5px;
}

.ellipsis-larger {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2196F3;
  margin-left: -5px;
}

.truncation-open {
  overflow: visible;
  white-space: initial;
}

.yes-answer {
  border-left: 0px #4CAF50 solid;
  border-right: 4px #4CAF50 solid;
}

.yes-answer-light {
  border-left: 0px #C8E6C9 solid;
  border-right: 4px #C8E6C9 solid;
}

.blank-answer {
  border-right: 4px #ffffff solid;
}

.no-answer {
  border-left: 0px #F44336 solid;
  border-right: 4px #F44336 solid;
}

.no-answer-light {
  border-left: 0px #FFCDD2 solid;
  border-right: 4px #FFCDD2 solid;
}

.education-header th {
  font-weight: 400;
}

.question-header th {
  font-weight: 400;
  padding-bottom: 0px;
}

.application-button {
  background-color: transparent;
  border: 0px none;
}

.application-button:hover {
  cursor: pointer;
}

.applicant-table td {
  vertical-align: middle;
}

td {
  vertical-align: top;
  line-height: 1.4rem;
  font-size: 1rem;
}

th {
  vertical-align: top;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
}

.applicant-table-header {
  margin-left: 0x;
}

.applicant-table tr {
  border-style: none;
}


header, main, footer {
  padding-left: 300px;}

.menu-button {
  margin-right: -5px !important;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.sortby-button {
  margin-top: 9px;
}

form {
  font-weight: normal !important;
}

input {
  font-weight: normal;
}
