{% extends '../base_logged_in.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/collapsible.js' %}"></script>
<script>
 /* TODO: Function to persist the form values after submit is clicked
    and the position information is displayed*/
 /* Make file and URL forms invisible on page load */
 window.onload = function() {
   document.getElementById('pdf_upload_form').style.display = 'none';
   document.getElementById('url_upload_form').style.display = 'none';
   document.getElementById('position_submit_button').style.display = 'none';
   document.getElementById('radio_pdf').checked = false;
   document.getElementById('radio_url').checked = false;
 };
 /* Show PDF form, hide and clear URL input form */
 function showPdf() {
   document.getElementById('pdf_upload_form').style.display = 'block';
   document.getElementById('pdf_input').required = true;
   document.getElementById('url_upload_form').style.display = 'none';
   document.getElementById('url_input').required = false;
   document.getElementById('url_input').value = null;
   document.getElementById('position_submit_button').style.display = 'block';
 }
 /* Show URL form, hide and clear PDF input form */
 function showUrl() {
   document.getElementById('pdf_upload_form').style.display = 'none';
   document.getElementById('pdf_input').required = false;
   document.getElementById('pdf_input').value = null;
   document.getElementById('pdf_path_input').value = null;
   document.getElementById('url_upload_form').style.display = 'block';
   document.getElementById('url_input').required = true;
   document.getElementById('position_submit_button').style.display = 'block';
 }
 document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.collapsible');
   var instances = M.Collapsible.init(elems, {} /* options */);
 });
</script>
<!-- <div class="container"> -->
<!--Beginning of upload position card -->
<div class="row">
  {% if position is not None %}
  <div class="card horizontal hoverable">
    {% else %}
    <div class="col s12 card horizontal hoverable">
      {% endif %}
      <!-- Beginning of form -->
      <form method="post" enctype="multipart/form-data" action="">
        <div class="card-content col s12">
          <!-- Upload position title -->
          <div class="row">
            <label class="card-title col s12" for="importposition">{{ form.text }}</label>
          </div>
          {% csrf_token %}
          <!-- Radio buttons to select PDF or URL -->
          <div class="row">
            <br>
            <!-- Upload position form error messages -->
            {% if forms.errors.pdf %}
            <span class="error-text">{{ form.errors.pdf }}</span>
            <!-- Upload position form instructions -->
            {% else %}
            <div class="col s12 grey-text"><p>{{ form.description }}</p></div>
            {% endif %}
            <br>
            <br>
            <!-- PDF upload radio button -->
            <div class="col s4">
              <label>
                <input name="upload_method" id="radio_pdf" type="radio" onclick="showPdf();" />
                <span>{{ form.pdf_name }}</span>
              </label>
            </div>
            <!-- URL submit radio button -->
            <div class="col s4">
              <label>
                <input name="upload_method" id="radio_url" type="radio" onclick="showUrl();" />
                <span>{{ form.url_name }}</span>
              </label>
            </div>
            <br>
            <br>
          </div>
          <!-- PDF/File input -->
          <div class="row" id="pdf_upload_form">
            <div class="col s12 file-field input-field">
              <div class="btn-small">
                <span>{{ form.browse_text }}</span>
                <input type="file" name="pdf" id="pdf_input">
              </div>
              <div class="file-path-wrapper">
                <input id="pdf_path_input" class="file-path validate" type="text"
                       placeholder="{{ form.upload_text }}" />
              </div>
            </div>
          </div>
          <!-- URL input -->
          <div class="row" id="url_upload_form">
            <div class="input-field col s12">
              <input id="url_input" name="url_ref" type="url" class="validate">
              <label for="url">{{ form.url_text }}</label>
            </div>
          </div>
          <!-- Submit button -->
          <input class="right btn" id="position_submit_button" type="submit" value="{{ form.submit_text }}">
        </div>
        <!-- End of form -->
      </form>
      <!-- End of card -->
    </div>
  </div>
</div>
<!-- Beginning of position display -->
{% if position is not None %}
<div class="row">
  <div class="col s12">
    <label><h5 class="center">{{ userVisibleText.we_think_this_is_correct }}</h5></label>
  </div>
  <!--Beginning of confirm position card -->
  <div class="col">
    <div class="card-content col s12">
      <!-- Position title row -->
      <div class="row">
        <h4 class="col s12 grey-text">{{ position.position_title }}</h4>
      </div>
      <!-- Position information row 1 -->
      <div class="row">
        <!-- Classification column -->
        <div class="col s4">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">collections</i>{{ userVisibleText.classification }}</div>
              <div class="collapsible-body"><span>{{ position.classification }}</span></div>
            </li>
          </ul>
        </div>
        <!-- Reference number column -->
        <div class="col s4">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">filter_1</i>{{ userVisibleText.reference_number }}</div>
              <div class="collapsible-body"><span>{{ position.reference_number }}
              </span></div>
            </li>
          </ul>
        </div>
        <!-- Selection process number column -->
        <div class="col s4">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">filter_2</i>{{ userVisibleText.selection_process_number }}</div>
              <div class="collapsible-body"><span>{{ position.selection_process_number }}

              </span></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Position information row 2 -->
      <div class="row">
        <!-- Date closed column -->
        <div class="col s3">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">date_range</i>{{ userVisibleText.date_closed }}</div>
              <div class="collapsible-body"><span>{{ position.date_closed|date:"M d, Y" }}
              </span></div>
            </li>
          </ul>
        </div>
        <!-- Number of positions column -->
        <div class="col s3">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">supervisor_account</i>{{ userVisibleText.number_of_positions }}</div>
              <div class="collapsible-body"><span>{{ position.num_positions }}
              </span></div>
            </li>
          </ul>
        </div>
        <!-- Salary column -->
        <div class="col s3">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">attach_money</i>{{ userVisibleText.salary_range }}</div>
              <div class="collapsible-body"><span>${{ position.salary_min }} - ${{ position.salary_max }}
              </span></div>
            </li>
          </ul>
        </div>
        <!-- Open to column -->
        <div class="col s3">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text active"><i class="material-icons">account_box</i>{{ userVisibleText.open_to }}</div>
              <div class="collapsible-body"><span>{{ position.open_to }}</span></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Position information row 3 -->
      <div class="row">
        <!-- Position description column -->
        <div class="col s12">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text"><i class="material-icons">format_list_bulleted</i>{{ userVisibleText.position_information }}</div>
              <div class="collapsible-body"><span>{{ position.description }}</span></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Education and Experience header row -->
      <div class="row">
        <h5 class="col s12 card-title grey-text">{{ userVisibleText.education_and_experience_criteria }}</h5>
      </div>
      <!-- Education and experience row 1 -->
      <div class="row">
        {% for req in position.requirement_set.all reversed %}
        <div class="col s4">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header screendoor-color lighten white-text"><i class="material-icons">format_list_numbered</i>{{ req.requirement_type }}</div>
              <div class="collapsible-body"><span>{{ req.description|linebreaksbr }}</span></div>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
      <!-- Confirm/Edit button row -->
      <div class="row center">
        <div class="col s12">
          <br>
          <input class="btn" type="submit" value="Edit">&nbsp&nbsp&nbsp&nbsp&nbsp
          <input class="btn" type="submit" value="Create Position">
        </div>
      </div>
      <div class="row">
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- </div> -->
<!-- End of position display -->
{% endblock %}
